{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center vh-100 align-items-center">
    <div class="card mb-3">
        <div class="card-body">
            <h1>{% trans "Sign In" %}</h1>
            <p>{% blocktrans %}Welcome back! Or is this your first visit here?</p>
            <p>If you have not created an account yet <br> and you want to
                be able to leave comments, <br> like posts, and share your recipes,
                please <br>
                <a href="{{ signup_url }}" class="sign">sign up</a> first.{% endblocktrans %}</p>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn green text-white links" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
