{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center vh-100 align-items-center" style="max-width: 33rem;">
    <div class="card mb-3">
        <div class="card-body">
            <h1>{% trans "Sign Out" %}</h1>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-danger red links" type="submit">{% trans 'Sign Out' %}</button>
                <a class="text-white btn btn green links remain" href="{% url 'home' %}">Remain logged in</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}
