h1, h2, h3, h4 {
    font-family: "Bitter", sans-serif;
}

p, li {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* styling for all the cards */

.card-body {
    background-color: #9aa5af;
}

.card-body > h1,p {
    color: black;
} 

.card-title {
    color: black;
}

/* styling for buttons */

.view {
    background-color: #BAA6B1;
    --bs-btn-hover-bg: #BAA6B1;
    --bs-btn-border-color: none;
    --bs-btn-active-bg: #BAA6B1;
    --bs-btn-hover-color: black;
} 

#edit-button {
    padding: 7px 25px;
    background-color: green;
    margin: 8px 5px 15px 0;
}

#delete-button {
    padding: 7px 25px;
    background-color: #850000;
    margin: 8px 0 15px 0;
}

#edit-button:hover,
#delete-button:hover {
    background-color: #BAA6B1;
}

.btn-success {
    background-color: green;
    padding: 7px 35px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-top: 25px;
    --bs-btn-hover-bg: green;
}

.green{
    background-color: green;
    padding: 7px 25px;
    --bs-btn-hover-bg: green;
    --bs-btn-active-bg: green;
    --bs-btn-border-color: green;
}

.back {
    background-color: #850000;
    padding: 7px 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    --bs-btn-hover-bg: #850000;
    --bs-btn-active-bg: #850000;
    --bs-btn-border-color: #850000;
}

.red {
    background-color: #850000;
    padding: 7px 25px;
    --bs-btn-hover-bg: #850000;
    --bs-btn-border-color: #850000;
    --bs-btn-active-bg: #850000;
    margin-right: 25px;
}

.btn-success:hover, 
.back:hover,
.red:hover,
.green:hover {
    border: 1px solid black;
}

/* Navbar styling */

.navbar-brand {
    font-family: "Bitter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;  
    padding-left: 10px;  
}

.navbar-brand:hover {
    color: #850000;
}

.nav-link {
    font-family: "Bitter", sans-serif;
    color: black;
    margin-right: 8px;
    font-size: large;   
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show  {
    color: #850000;
}

.navbar {
    padding: 0;
}

.nav-link:hover {
    font-weight: bold;
    color: #850000;
}

.container-fluid {
    background-color: #BAA6B1;
    padding: 5px;
} 

/* Footer styling */

footer {
    text-align: center;
    background-color: #BAA6B1;
    padding: 5px;
} 
    
footer > a {
    margin-right: 30px;
    font-size: x-large; 
    color: black; 
}

.social-links:hover {
    color: #850000;
    font-weight: bold;
}

#follow {
    font-family: "Bitter", sans-serif;
    font-size: x-large;
    margin-right: 20px;
    color: black;
}
    
/* To keep footer at the bottom of the page */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Home page */

#msg-box {
    margin-top: 225px; 
    margin-bottom: 55px;
}

.msg {
    font-weight: 300;
}

.strong {
    color: black;
}

.category-name {
    text-decoration: none;
    text-transform: uppercase;
}

.category-name > p {
    font-weight: 400;
}

.categories:hover {
    background-color: #BAA6B1;
}

.cat-boxes {
    --bs-card-bg: none; 
    transition: transform .1s;
} 

.cat-boxes:hover { 
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

/* login and sign up forms */

#id_login,
#id_password,
#id_username,
#id_email,
#id_password1,
#id_password2 {
    min-width: 100%;
}

label {
    display: block;
}

.sign {
    color: white;
    background-color: green;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 10%;
}

/* Recipes page */

.recipes {
    margin-top: 50px;
    margin-bottom: 25px;
}
    
.card {
    border: none;
}

.recipe-card {
    --bs-card-bg: none; 
    transition: transform .1s;
} 

.recipe-card:hover { 
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

.card-img-top {
    width: 100%; 
    height: auto;
}

/* recipe_detail page */

.details {
    margin-top: 50px;
}

.image {
    border-radius: 5%;
}

.links {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#number-of-comments {
    margin-left: 20px;
}

#ingredients {
    text-decoration: underline;
}

#instructions {
    text-decoration: underline;
    margin-top: 30px;
    text-align: center;
}

.title-container h1,
.ingredients-container li, 
.instructions-container p { 
    word-wrap: break-word;
}

.click {
    color: #850000;
}

/* Add recipe page */

.form {
    margin-top: 50px;
}

#id_instructions_iframe {
    height: auto;
    max-width: 100%;
}


/* Media queries */

/* For larger screen sizes over 1300px width */
@media screen and (min-width: 1600px) {

    #msg-box {
        margin-top: 300px; 
        margin-bottom: 100px;
    } 
} 

/* For smaller screen sizes below 991px width */
@media screen and (max-width: 991px) {

    .nav-link {
        margin-right: 0;
    }

    .cat-boxes {
        margin-bottom: 45px;
    }

    #msg-box {
        margin-bottom: 100px;
    }

    h1 {
        margin: 20px 0;
    }

    #title,
    #ingredients {
        margin-top: 30px;
    }

    #instructions {
        margin-top: 15px;
        text-align: left;
    }
}

/* For small screen sizes below 450px width */
@media screen and (max-width: 450px) {
    
    .container-fluid,
    .social {
        padding: 10px;
    }

    footer > a {
        margin-right: 10px;
        font-size: large;
    }

    #follow {
        font-size: large;
    }

    #msg-box {
        margin-top: 75px;
    }
}
