/* Navbar styling */

.navbar-brand {
    font-family: "Bitter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: whitesmoke;    
}

.navbar-brand:hover {
    color: #ffc107;
}

.nav-link {
    font-family: "Bitter", sans-serif;
    color: whitesmoke;
    margin-right: 8px;
    font-size: large;   
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show  {
    color: #ffc107;
}

.navbar {
    padding: 0;
}

.nav-link:hover {
    color: #ffc107;
}

.container-fluid {
    background-color: #71777ce6;
} 


/* Footer styling */

footer {
    text-align: center;
    background-color: #71777ce6;
} 
    
footer > a {
    margin-right: 30px;
    font-size: x-large; 
    color: whitesmoke; 
}

.social-links:hover {
    color: #ffc107;
    font-weight: bold;
}

#follow {
    font-family: "Bitter", sans-serif;
    font-size: x-large;
    margin-right: 20px;
    color: whitesmoke;
}
    
/* To keep footer at the bottom of the page */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* login form */

.btn-success {
    margin-right: 30px;
}

.card-body {
    background-color: #71777ce6;  
}

card-body > h1,p {
    color: whitesmoke;
} 

.card-body > a {
    color: green;
}  

/* sign up form */

label {
    display: block;
}


/* Recipes page */

.recipes {
    margin-top: 50px;
}

/* For small screen sizes below 400px width */
@media screen and (max-width: 400px) {
    
    footer > a {
        margin-right: 10px;
        font-size: large;
    }

    #follow {
        font-size: large;
    }
}