{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% block additional_styles %}
<style>
    body {
        background-image: url('https://res.cloudinary.com/dx0imlozl/image/upload/v1696282175/photo-1521193089946-7aa29d1fe776_amijzl.avif');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

<div class="container form align-items-center">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form action="{% url 'add_recipe' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card card-body">
                    <h1>Create a Recipe</h1>
                    {{ form | crispy }}
                </div>
                <div class="buttons">
                    <button class="btn btn-success" type="submit">Save</button>
                    <a href="{% url 'recipes' %}" class="btn btn-danger back">Go back</a>
                </div>  
            </form>
        </div>
    </div>
</div>
        
{% endblock %}