{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-4 mt-4">
            <h1> Here is a list of recipes in the <strong>{{ catlist.cat }}</strong> category:</h1>
        </div>
        {% for recipe in catlist.posts %}
        <div class="recipes col-12 col-sm-6 col-lg-3">
            <div class="card">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dx0imlozl/image/upload/v1696500297/photo-1554998171-706e730d721d_u8rayg.avif" class="card-img-top" alt="">
                {% else %}
                <img class="card-img-top" src="{{ recipe.featured_image.url }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ recipe.title }}</h2>
                    <p class="card-text">{{ recipe.created_on }}</p>
                    <p class="card-text">{{ recipe.estimated_time }} min</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-dark">View Recipe</a>   
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
</div>


{% endblock %}