{% extends "base.html" %}

{% block content %}

<div class="container d-flex align-items-center" id="welcome" style="max-width: 33rem;">
    <div class="card text-bg-secondary mb-3">
        <div class="card-body">
            <h4 class="card-title">Hello there! Welcome to "What's Cooking?"</h4>
            <p class="card-text">So nice to have you here! Are you ready to cook some delicious food and get some new skills in the kitchen?</p>
            <p class="card-text">Here you can find a collection of recipes from food-loving people all across the globe.</p>
            <p class="card-text">Feel free to post your own recipes for others to share as well.</p>
            <strong class="card-text">Sharing is caring, right? &#128512;</strong>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row tex">
        {% for category in category_list %}
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body">
                    <a href="/category/{{ category }}">
                        <p class="card-text">{{ category.name }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
