{% extends "base.html" %}

{% block content %}

<div class="container" id="msg-box" style="max-width: 33rem;">
    <div class="card text-bg-secondary text-center mb-3">
        <div class="card-body">
            <h4 class="card-title welcome">Hello there! Welcome to "What's Cooking?"</h4>
            <p class="card-text msg">So nice to have you here! Are you ready to cook some delicious food and get some new skills in the kitchen?</p>
            <p class="card-text msg">Here you can find a collection of recipes from food-loving people all across the globe.</p>
            <p class="card-text msg">Feel free to post your own recipes for others to share as well.</p>
            <strong class="card-text strong">Sharing is caring, right? &#128512;</strong>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row tex">
        {% for category in category_list %}
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card cat-boxes">
                <div class="card-body categories">
                    <a href="/category/{{ category }}" class="category-name">
                        <p class="card-text">{{ category.name }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
