{% extends "base.html" %}

{% block content %}

<div class="background-img"></div>

<div class="container d-flex justify-content-center vh-100 align-items-center" style="max-width: 23rem;">
    <div class="card text-bg-secondary mb-3">
        <div class="card-header">Sharing is caring, right?</div>
        <div class="card-body">
            <h4 class="card-title">Hello there! Welcome to What's Cooking!</h4>
            <p class="card-text">So fun that you're here! I hope you find inspiration to cook something delicious.</p>
            <p class="card-text">Feel free to post your own recipes for others to share as well.</p>
        </div>
    </div>
</div>

{% endblock %}
