{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block additional_styles %}
<style>
    body {
        background-color: rgb(225, 221, 221);
    }
</style>
{% endblock %}

{% block content %}

<div class="container details">
    <div class="row align-items-start">
        <div class="col-12 col-lg-6">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top image" src="https://res.cloudinary.com/dx0imlozl/image/upload/v1697048715/ekivemgtyulgjlem0gh9.jpg" alt="the default food image">
            {% else %}
            <img class="card-img-top image" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
            {% endif %}
        </div>
        <div class="title-container col-12 col-lg-6 text-center align-self-center">
            <h1>{{ recipe.title }}</h1>
            {% if user.id == recipe.author.id %}
                <a href="{% url 'update' recipe.slug %}" id="edit-button" class="btn links">Edit</a>
                <a href="{% url 'delete' recipe.slug %}" id="delete-button" class="btn links">Delete</a>
            {% endif %}
            <div id="info">
                <p><i class="fa-regular fa-clock"></i> {{ recipe.estimated_time }} min</p>
                <p><i class="fa-solid fa-utensils"></i> {{ recipe.category }}</p> 
                <p><i class="fa-solid fa-bowl-food"></i> {{ recipe.servings }} servings</p>
                <p>This recipe is published by {{ recipe.author }} <br> {{ recipe.created_on }}</p>
            </div>

            <div class="row">
                <div class="col text-center">
                    {% if user.is_authenticated %}
                    <form method="POST" class="d-inline" action="{% url 'recipe_like' recipe.slug %}">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="recipepost_id" value="{{recipe.slug}}" aria-label="liked"><i
                            class="fa-solid fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="recipepost_id" value="{{recipe.slug}}" aria-label="unliked"><i 
                            class="fa-regular fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span><i class="fa-regular fa-heart"></i></span>
                    {% endif %}
                    <span>{{ recipe.number_of_likes }}</span>
                    {% with comments.count as total_comments %}
                    <span id="number-of-comments"><i class="fa-solid fa-comments"></i>
                        {{ total_comments }}
                    </span>
                    {% endwith %}
                </div>
            </div>
        </div>    
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="ingredients-container col-12 col-lg-6 mt-3 align-self-center">
            <h2 id="ingredients">Ingredients:</h2>
            <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li> 
            {% endfor %}
            </ul>
        </div>  
        <div class="instructions-container col-12 col-lg-6 mt-3">
            <h2 id="instructions">Instructions:</h2>
            {{ recipe.instructions | safe }}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mt-3">
            <h3>Comments:</h3>
            {% for comment in comments %}
            <div>
                <p> {{ comment.name }} wrote: <br> <small><i class="fa-solid fa-clock"></i>
                        {{ comment.created_on}}</small></p>
                {{ comment.content | linebreaks }}
            </div>
            {% empty %}
            <p> Currently, there are no comments here. Please <a class="click" href="{% url 'account_login' %}">sign in</a> to be the
                first to add a comment.</p>
            <p>If you have not created an account yet, you can do that <a class="click" href="{% url 'account_signup' %}">here</a></p>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6 mt-3 mb-4">
            {% if commented %}
            <div class="spinner-border text-success" role="status">
            </div>
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval...
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}