{% extends "base.html" %}

{% block additional_styles %}
<style>
    body {
        background-image: url('https://res.cloudinary.com/dx0imlozl/image/upload/v1696282175/photo-1521193089946-7aa29d1fe776_amijzl.avif');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}

<div class="container details">
    <div class="row align-items-start">
        <div class="col-12 col-lg-6">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top" src="https://res.cloudinary.com/dx0imlozl/image/upload/v1696500297/photo-1554998171-706e730d721d_u8rayg.avif">
            {% else %}
            <img class="card-img-top" src="{{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 text-center align-self-center">
            <h1>{{ recipe.title }}</h1>
            {% if user.id == recipe.author.id %}
                <hr>
                <button class="btn btn-info" type="button">
                    <a href="{% url 'update' recipe.slug %}">Edit</a>
                </button>
            {% endif %}
            <hr>
            <p><i class="fa-regular fa-clock"></i> {{ recipe.estimated_time }} min</p>
            <p><i class="fa-solid fa-utensils"></i> {{ recipe.category }}</p>
            <p><i class="fa-solid fa-bowl-food"></i> {{ recipe.servings }} servings</p>
            <p>This recipe is published by {{ recipe.author }} <br> {{ recipe.created_on }}</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 align-self-center">
            <h2>Ingredients:</h2>
            <ul>
                <li>{{ recipe.ingredients }}</li>  
            </ul>         
        </div>  
        <div class="col-12 col-lg-6 mt-3">
            <h2 class="text-center">Instructions:</h2>
            <p>{{ recipe.instructions | safe }} </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col align-self-center ">
            <h3>Comments:</h3>
            {% for comment in comments %}
            <div class="comments">
                <p> {{ comment.name }} wrote: <br> <small><i class="fa-solid fa-clock"></i>
                        {{ comment.created_on}}</small></p>
                <strong>{{ comment.content | linebreaks }}</strong>
            </div>
            {% empty %}
            <p> Currently, there are no comments here. Please <a href="{% url 'account_login' %}">sign in</a> to be the
                first to add a comment.</p>
            <p>If you have not created an account yet, yo can do that <a href="{% url 'account_signup' %}">here</a></p>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}