{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block additional_styles %}
<style>
    body {
        background-color: rgb(225, 221, 221);
    }
</style>
{% endblock %}

{% block content %}

<div class="container details form align-items-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card card-body">
                    <h1>Edit your Recipe</h1>
                    {{ form | crispy }}
                </div>
                <div class="row">
                    <div class="buttons">
                        <button class="btn btn-success links" type="submit">Update</button>
                        <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-danger back links">Cancel</a>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>

{% endblock %}
